{% if item %}
    <div class="product mb-6 flex pr-6" id="cart-item-{{ item.product.id }}">
        <div class="w-3/4 pl-6">
            <div class="flex justify-between">
                <span class="mb-6 pt-1 text-gray-400">${{ item.total_price }}</span>

                <a href="{% url 'product' item.product.slug %}" class="text-lg">{{ item.product.name }}</a>
            </div>

            <hr>

            <div class="quantity mt-6 flex items-center space-x-4">
                <a
                    class="inline-block px-8 py-4 rounded-xl bg-purple-500 hover:bg-purple-700 text-white"
                    hx-get="{% url 'update_cart' item.product.id 'decrement' %}"
                    hx-target="#cart-item-{{ item.product.id }}"
                    hx-swap="outerHTML"
                >
                    حذف از سبد خرید
                </a>
            </div>
        </div>

        <a href="{% url 'product' item.product.slug %}" class="w-1/4">
            <img class="hover:shadow-lg rounded-xl" src="{{ item.product.get_thumbnail }}">
        </a>
    </div>
{% endif %}