header {
  width: 1300px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(114, 240, 234, 0.39);
  border-radius: 25px;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: rgb(40, 202, 154);
  font-family: Arial;
  float: right;
  padding: 21px 21px;
  margin: 5px 5px;
  border-radius: 25px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(0, 217, 255, 0.534);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 1290px;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Mega Menu header, if needed */
.dropdown-content .header {
  background: rgba(46, 193, 219, 0.637);
  padding: 16px;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 410px;
  padding: 10px;
  background-color: #ccc;
  height: 200px;
}

/* Style links inside the columns */
.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a background color on hover */
.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.div2 form {
  float: right;
  padding: 31px 5px 31px 5px;
  margin: 5px 5px 5px 5px;
} 

.div2 input {
  width: 176px;
  height: 26px;
  margin: 1px 1px;
}

.div2 input {
  margin: 1px 1px;
}

.div3 form {
  float: right;
  padding: 31px 5px 31px 5px;
  margin: 5px 5px 5px 5px;
} 

.div3 input {
  width: 170px;
  height: 20px;
  margin: 1px 1px;
}

.div3 input {
  margin: 1px 1px;
}

.div4 p {
  width: 80px;
  height: 20px;
  padding: 35px 5px 35px 5px ;
  margin: 5px 5px 5px 5px;
  float: right;
}

.div5 img {
  width: 80px;
  height: 80px;
  padding: 5px 5px 5px 5px ;
  margin: 5px 5px 5px 5px;
  float: right;
}

.section1 {
  width: 1300px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(116, 179, 175, 0.39);
  border-radius: 25px;
}

.section1 td {
  width: 392px;
  height: 70px;
  padding: 2px 2px 2px 2px;
  border: solid 1px black;
  text-align: center;
  border-radius: 25px;
}

.section1 table {
  border-spacing: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 1px;
  float: left;
}

.div6 {
  width: 886px;
  height: 386px;
  border: solid 1px black;
  margin-top: 6px;
  margin-bottom: 6px;
  float: left;
  border-radius: 25px;
}

.div6 img {
  margin: 2px 2px 2px 2px;
  padding: 3px 3px 3px 3px;
  border-radius: 25px;
}

.section2 {
  width: 1300px;
  height: 1060px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(3, 37, 35, 0.39);
  padding-top: 15px;
  border-radius: 25px;
}

.bestselllist {
  width: 1273px;
  height: 98px;
  border: solid 1px rgb(0, 0, 0);
  margin-left: 12.5px;
  margin-right: 12.5px;
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 25px;
}

.bestsellitem {
  width: 298px;
  height: 298px;
  border: solid 1px rgb(0, 0, 0);
  float: left;
  margin-left: 12.5px;
  margin-right: 12.5px;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
}

.bestsellitemdes {
  width: 298px;
  height: 98px;
  border: solid 1px rgb(0, 0, 0);
  float: left;
  margin-left: 12.5px;
  margin-right: 12.5px;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  text-align: center;
  border-radius: 25px;
} 

.section2 p {
  width: 298px;
  height: 18px;
  margin-top: 41px;
  margin-bottom: 41px;
}

.bestselllist p {
  width: 1271px;
  height: 18px;
  margin-top: 41px;
  margin-bottom: 41px;
}

 .section3 {
  width: 1300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: darkviolet;
  padding-top: 15px;
  border-radius: 25px;
}

p.title {
  width: 100px;
  height: 50px;
  padding: 2px 2px 2px 2px;
  float: left;
}

p.desc {
  width: 300px;
  height: 200px;
  padding: 2px 2px 2px 2px;
  float: left;
}

img.aboutus2 {
  width: 500px;
  height: 281px;
  padding: 2px 2px 2px 2px;
  float: right;
  border-radius: 25px;
  margin-right: 200px;
}

footer {
  width: 1300px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(114, 240, 234, 0.39);
  border-radius: 25px;
}

footer p {
  text-align: center;
}

 .contact {
  width: 1300px;
  height: 750px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(68, 247, 217, 0.219);
  padding-top: 15px;
  border-radius: 25px;
}

.contacttitle {
  width: 1200px;
  height: 150px;
  background-color: rgba(247, 89, 68, 0.212);
  border-radius: 25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.address {
  width: 400px;
  height: 150px;
  text-align: center;
  float: left;
}

.email {
  width: 400px;
  height: 150px;
  text-align: center;
  float: left;
}

.phone {
  width: 400px;
  height: 150px;
  text-align: center;
  float: left;
}

messageform {
  width: 1300px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

p.contacthead {
  width: 400px;
  height: 50px;
  font-size: 40px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 42.5px;
  padding-bottom: 42.5px;
}

.infobox {
  width: 1200px;
  height: 150px;
  background-color: rgba(247, 89, 68, 0.767);
  border-radius: 25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

p.address1 {
  width: 300px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

p.address2 {
  width: 300px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

p.email1 {
  width: 300px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

a.email2 {
  width: 300px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

p.phone1 {
  width: 300px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

p.phone2 {
  width: 300px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

form.messageform1 {
  width: 260px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

input#name {
  width: 250px;
  height: 40px;
}

input#email {
  width: 250px;
  height: 40px;
}

input#subject {
  width: 250px;
  height: 40px;
}


input#message {
  width: 250px;
  height: 100px;
}

input#button {
  width: 60px;
  height: 30px;
}

.productinfo1 {
  width: 1300px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(116, 179, 175, 0.39);
  border-radius: 25px;
}

.productinfo {
  width: 600px;
  height: 500px;
  border: solid 1px black;
  float: left;
  border-radius: 25px;
  margin: 49px 24px 49px 24px;
}

.productname {
  width: 550px;
  height: 100px;
  border: solid 1px black;
  border-radius: 25px;
  margin: 5px 25px 5px 25px;
}

.productname p {
  width: 200px;
  height: 20px;
  margin: 40px 175px 40px 175px;
  text-align: center;
  font-size: 18px;
}

.productpriceandcategory {
  width: 550px;
  height: 100px;
  border: solid 1px black;
  border-radius: 25px;
  margin: 5px 25px 5px 25px;
}

p.productpriceandcategory1 {
  width: 200px;
  height: 20px;
  margin: 40px 35px 40px 35px;
  text-align: center;
  font-size: 18px;
  float: left;
}

p.productpriceandcategory2 {
  width: 200px;
  height: 20px;
  margin: 40px 35px 40px 35px;
  text-align: center;
  font-size: 18px;
  float: left;
}

.productdescription1 {
  width: 550px;
  height: 250px;
  border: solid 1px black;
  border-radius: 25px;
  margin: 13px 25px 13px 25px;
}

.productdescription1 p{
  width: 200px;
  height: 20px;
  margin: 40px 175px 40px 175px;
  text-align: center;
  font-size: 18px;
}

.productimg {
  width: 600px;
  height: 500px;
  border: solid 1px black;
  float: left;
  border-radius: 25px;
  margin: 49px 24px 49px 24px;
}

.productimg img {
  width: 450px;
  height: 450px;
  margin: 25px 75px 25px 75px;
}

.productinfo2 {
  width: 1300px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(116, 179, 175, 0.39);
  border-radius: 25px;
}

.productcritic {
  width: 1200px;
  height: 350px;
  border: solid 1px black;
  margin-right: auto;
  margin-left: auto;
  border-radius: 25px;
  padding: 24px 20px 24px 20px;
}

.productcritic p{
  width: 200px;
  height: 20px;
  text-align: center;
  font-size: 18px;
  margin-right: auto;
  margin-left: auto;
}

.productinfo3 {
  width: 1300px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(116, 179, 175, 0.39);
  border-radius: 25px;
}

.userpage {
  width: 1300px;
  height: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(116, 179, 175, 0.39);
  border-radius: 25px;
}

.userinfo {
  width: 1250px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(0, 112, 79);
  border-radius: 25px;
}

.userinfoshow1 {
  width: 350px;
  height: 62px;
  background-color: rgba(207, 209, 76, 0.39);
  border-radius: 25px;
  margin: 0px 5px 5px 5px ;
}

.userinfoshow1 p {
  width: 150px;
  height: 25px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.userorderhistory {
  width: 1250px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(52, 78, 70);
  border-radius: 25px;
}

.useraddress {
  width: 1250px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(52, 78, 70);
  border-radius: 25px;
}
