 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amir SHOP</title>
    <link rel="stylesheet" href="/home/amir/djangogirls/shop/static/css/shop.css">
    <link rel="icon" type="image/x-icon" href="./data/favicon.ico">
</head>

<body>
  <header>
    <div class="div0">
      <div class="navbar">
        <a href="./mainpage.html">Home</a>
        <a href="./aboutpage.html">About</a>
        <a href="./contactpage.html">Contact</a>
        <div class="dropdown">
          <button class="dropbtn">Category
           <i class="fa fa-caret-down"></i>
           </button>
            <div class="dropdown-content">
              <div class="header">
                <h2>Mega Menu</h2>
              </div>
              <div class="row">
                <div class="column">
                  <h3>Category 1</h3>
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
                <div class="column">
                  <h3>Category 2</h3>
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
                <div class="column">
                  <h3>Category 3</h3>
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </div>
            </div>
        </div>
      </div>      
     <div class="div2">
      <form id="form"> 
        <input type="search" id="query" name="q" placeholder="Search...">
        <button>Search</button>
        </form>
     </div>
     <div class="div3">
      <form action="/action_page.php">
        <input type="text" placeholder="Username" name="username">
        <input type="text" placeholder="Password" name="psw">
        <button type="submit">Login</button>
      </form>
     </div>
     <div class="div4">
       <p>Amir Shop</p>
     </div>
     <div class="div5">
       <img src="./data/ShopIcon.png">
     </div>
    </div>
  </header>
  <br>
  <section class="section3">
      <div class="aboutus1">
          <p class="title">About Us</p>
          <p class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make type specimen book.
      </div>
      <div class="aboutus2">
          <img class="aboutus2" src="./data/AboutUs.jpg"> 
      </div>
  </section>
  <footer>
    <p>This Website is designed By Amir<br>for more info contact with us<br>
    <a href="mailto:amirgh78@gmail.com">amirgh78@gmail.com</a></p>
  </footer>
</body>
</html>


