 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amir SHOP</title>
    <link rel="stylesheet" href="/home/amir/djangogirls/shop/static/css/shop.css">
    <link rel="icon" type="image/x-icon" href="./data/favicon.ico">
</head>

<body>
  <header>
    <div class="div0">
      <div class="navbar">
        <a href="./mainpage.html">Home</a>
        <a href="./aboutpage.html">About</a>
        <a href="./contactpage.html">Contact</a>
        <div class="dropdown">
          <button class="dropbtn">Category
           <i class="fa fa-caret-down"></i>
           </button>
            <div class="dropdown-content">
              <div class="header">
                <h2>Mega Menu</h2>
              </div>
              <div class="row">
                <div class="column">
                  <h3>Category 1</h3>
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
                <div class="column">
                  <h3>Category 2</h3>
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
                <div class="column">
                  <h3>Category 3</h3>
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </div>
            </div>
        </div>
      </div>      
     <div class="div2">
      <form id="form"> 
        <input type="search" id="query" name="q" placeholder="Search...">
        <button>Search</button>
        </form>
     </div>
     <div class="div3">
      <form action="/action_page.php">
        <input type="text" placeholder="Username" name="username">
        <input type="text" placeholder="Password" name="psw">
        <button type="submit">Login</button>
      </form>
     </div>
     <div class="div4">
       <p>Amir Shop</p>
     </div>
     <div class="div5">
       <img src="./data/ShopIcon.png">
     </div>
    </div>
  </header>
  <br>
  <section class="productinfo1">
      <div class="productinfo">
          <div class="productname">
              <p>Product Name<p>
          </div>
          <div class="productpriceandcategory">
             <p class="productpriceandcategory1">Product Price<p>   
             <p class="productpriceandcategory2">Product Category</p>
          </div>
          <div class="productdescription1">
              <p>Description</p>
          </div>
      </div>
      <div class="productimg">
          <img src="./data/ProductPictureBestSell.jpg">
      </div>
  </section>
  <br>
  <section class="productinfo2">
      <div class="productcritic">
      <p>Critic</p>
      </div>
  </section>
  <br>
  <section class="productinfo3">
    <div class="bestsellitem">
      <img src="./data/ProductPictureBestSell.jpg">
    </div>
    <div class="bestsellitem">
      <img src="./data/ProductPictureBestSell.jpg">
    </div>
    <div class="bestsellitem">
      <img src="./data/ProductPictureBestSell.jpg">
    </div>
    <div class="bestsellitem">
      <img src="./data/ProductPictureBestSell.jpg">
    </div>
    <div class="bestsellitemdes">
      <p>Product 1</p>
    </div>
    <div class="bestsellitemdes">
      <p>Product 2</p>
    </div>
    <div class="bestsellitemdes">
      <p>Product 3</p>
    </div>
    <div class="bestsellitemdes">
      <p>Product 4</p>
    </div>
  </section>
  <footer>
    <p>This Website is designed By Amir<br>for more info contact with us<br>
    <a href="mailto:amirgh78@gmail.com">amirgh78@gmail.com</a></p>
  </footer>
</body>
</html>


